
performance_check/DCM_demo-rand12-12x10.mat
performance_check/DCM_demo-rand16-12x10.mat
performance_check/DCM_demo-rand8-12x20.mat
performance_check/net-vsDCM-12-12x1.mat
performance_check/net-vsDCM-12-12x10.mat
performance_check/net-vsDCM-12-12x2.mat
performance_check/net-vsDCM-12-12x3.mat
performance_check/net-vsDCM-12-12x4.mat
performance_check/net-vsDCM-12-12x5.mat
performance_check/net-vsDCM-12-12x6.mat
performance_check/net-vsDCM-12-12x7.mat
performance_check/net-vsDCM-12-12x8.mat
performance_check/net-vsDCM-12-12x9.mat
performance_check/net-vsDCM-16-12x1.mat
performance_check/net-vsDCM-16-12x10.mat
performance_check/net-vsDCM-16-12x2.mat
performance_check/net-vsDCM-16-12x3.mat
performance_check/net-vsDCM-16-12x4.mat
performance_check/net-vsDCM-16-12x5.mat
performance_check/net-vsDCM-16-12x6.mat
performance_check/net-vsDCM-16-12x7.mat
performance_check/net-vsDCM-16-12x8.mat
performance_check/net-vsDCM-16-12x9.mat
performance_check/net-vsDCM-8-12x1.mat
performance_check/net-vsDCM-8-12x10.mat
performance_check/net-vsDCM-8-12x11.mat
performance_check/net-vsDCM-8-12x12.mat
performance_check/net-vsDCM-8-12x13.mat
performance_check/net-vsDCM-8-12x14.mat
performance_check/net-vsDCM-8-12x15.mat
performance_check/net-vsDCM-8-12x16.mat
performance_check/net-vsDCM-8-12x17.mat
performance_check/net-vsDCM-8-12x18.mat
performance_check/net-vsDCM-8-12x19.mat
performance_check/net-vsDCM-8-12x2.mat
performance_check/net-vsDCM-8-12x20.mat
performance_check/net-vsDCM-8-12x3.mat
performance_check/net-vsDCM-8-12x4.mat
performance_check/net-vsDCM-8-12x5.mat
performance_check/net-vsDCM-8-12x6.mat
performance_check/net-vsDCM-8-12x7.mat
performance_check/net-vsDCM-8-12x8.mat
performance_check/net-vsDCM-8-12x9.mat
